# paysafe-npm-read
registry=https://artifactory.neterra.paysafe.com/artifactory/api/npm/paysafe-usc/
_auth=cGF5c2FmZS1ucG0tcmVhZDpQUnUzTXp5Z25oQzdnSTd1c1lPaQ==
always-auth=true
email=dev-oneplatform@optimalpayments.com
