<button ps-primary-button (click)="add.emit()">Add new</button>

<ps-list>
  <ps-list-item>
    Total amount: {{ expenses | calculateTotalAmount }}
  </ps-list-item>
  <cdk-virtual-scroll-viewport itemSize="50">
    <ps-list-item *cdkVirtualFor="let expense of expenses; let index = index">
      <ps-list-item-title>{{ expense.name }}</ps-list-item-title>
      <ps-list-item-subtitle>{{ expense | amountCurrency }}</ps-list-item-subtitle>
      <ps-list-item-suffix>
        <ps-icon (click)="delete.emit(expense)">delete</ps-icon>
      </ps-list-item-suffix>
    </ps-list-item>
  </cdk-virtual-scroll-viewport>
</ps-list>
