/* You can add global styles to this file, and also import other style files */
@import '~@paysafe-ui/components/prebuilt-themes/skrill.css';

html, body { height: 100%; width: 100%; }

body { min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box; }

*:focus {
    outline: none;
}
